@model List<AutomatedWarehouse.MVC.Response_models.Receipt.ReceiptDocumentResponseModel>
<link rel="stylesheet" href="~/css/general-styles.css"/>
<link rel="stylesheet" href="~/css/table.css"/>

<h2 style="margin-bottom: 10px;">Поступления</h2>

<div style="display: flex; margin-bottom: 15px;">
    <div style="margin-right: 10px;">
        <label>Период</label><br/>
        <div>
            <input class="full-input" type="date" value="@ViewBag.DateFrom" id="date-from-input"/>
            -
            <input class="full-input" type="date" value="@ViewBag.DateUntil" id="date-until-input" />
        </div>
    </div>
    <div style="margin-right: 10px;">
        <label>Номер поступления</label><br/>
        <div></div>
    </div>
    <div style="margin-right: 10px;">
        <label>Ресурс</label><br />
        <div></div>
    </div>
    <div>
        <label>Единица измерения</label><br />
        <div></div>
    </div>
</div>

<div style="margin-bottom: 15px;">
    <button class="button blue-button" style="margin-right: 2px;">Применить</button>
    <a class="button green-button" asp-controller="Receipt" asp-action="AddReceipt" style="padding: 9px 10px 10px 10px;">Добавить</a>
</div>

<table id="receipt-documents-table">
    <tr>
        <th>Номер</th>
        <th>Дата</th>
        <th>Ресурс</th>
        <th>Единица измерения</th>
        <th>Количество</th>
    </tr>
    @foreach (var receiptDocument in Model)
    {
        @if (receiptDocument.ReceiptResources.Count == 0)
        {
            <tr>
                <td>@receiptDocument.ReceiptNumber</td>
                <td>@receiptDocument.ReceiptDate.ToString("dd.MM.yyyy")</td>
                <td></td>
                <td></td>
                <td>0</td>
            </tr>
        }
        else
        {
            @for (int i = 0; i < receiptDocument.ReceiptResources.Count; i++)
            {
                @if (i == 0)
                {
                    <tr>
                        <td rowspan="@receiptDocument.ReceiptResources.Count">@receiptDocument.ReceiptNumber</td>
                        <td rowspan="@receiptDocument.ReceiptResources.Count">@receiptDocument.ReceiptDate.ToString("dd.MM.yyyy")</td>
                        <td>@receiptDocument.ReceiptResources[i].Resource.Name</td>
                        <td>@receiptDocument.ReceiptResources[i].MeasurementUnit.Name</td>
                        <td>@receiptDocument.ReceiptResources[i].Quantity</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>@receiptDocument.ReceiptResources[i].Resource.Name</td>
                        <td>@receiptDocument.ReceiptResources[i].MeasurementUnit.Name</td>
                        <td>@receiptDocument.ReceiptResources[i].Quantity</td>
                    </tr>
                }
            }
        }
    }
</table>