@using System.Text.Json
@model AutomatedWarehouse.MVC.Models.View_models.GetReceiptDocumentsViewModel
<link rel="stylesheet" href="~/css/general-styles.css" />
<link rel="stylesheet" href="~/css/table.css" />
<link rel="stylesheet" href="~/css/receipt/get-receipt-documents.css" />

<h2 style="margin-bottom: 10px;">Поступления</h2>

<div class="filters-container">
    <div style="margin-right: 25px;">
        <label>Период</label><br />
        <div>
            <input class="full-input" type="date" value="@ViewBag.DateFrom" id="date-from-input" />
            -
            <input class="full-input" type="date" value="@ViewBag.DateUntil" id="date-until-input" />
        </div>
    </div>
    <div class="filter-container">
        <label>Номер поступления</label><br />
        <div id="receipt-numbers-open-modal-btn" class="open-filter-modal-div">
            <div id="selected-receipt-numbers-block" class="selected-receipt-numbers-div">Выберите</div>
            <div id="receipt-numbers-dropdown-block" class="dropdown-sign">▼</div>
        </div>
        <div id="receipt-numbers-modal" class="filter-modal-block">
            @foreach (var receiptNumber in Model.ReceiptNumbers)
            {
                <div class="filter-modal-item" isSelected="false" onclick="selectReceiptNumber(this)">@receiptNumber</div>
            }
        </div>
        <select id="receipt-numbers-select" multiple style="display: none;">
            @foreach (var receiptNumber in Model.ReceiptNumbers)
            {
                <option value="@receiptNumber">@receiptNumber</option>
            }
        </select>
    </div>
    <div class="filter-container">
        <label>Ресурс</label><br />
        <div id="resources-open-modal-btn" class="open-filter-modal-div">
            <div id="selected-resources-block" class="selected-receipt-numbers-div">Выберите</div>
            <div id="resources-dropdown-block" class="dropdown-sign">▼</div>
        </div>
        <div id="resources-modal" class="filter-modal-block">
            @foreach (var resource in Model.AvailableResources)
            {
                <div class="filter-modal-item" isSelected="false" resourceId="@resource.Id" onclick="selectResource(this)">@resource.Name</div>
            }
        </div>
        <select id="resources-select" multiple style="display: none;">
            @foreach (var resource in Model.AvailableResources)
            {
                <option value="@resource.Id">@resource.Name</option>
            }
        </select>
    </div>
    <div class="filter-container" style="margin-right: 0;">
        <label>Единица измерения</label><br />
        <div id="units-open-modal-btn" class="open-filter-modal-div">
            <div id="selected-units-block" class="selected-receipt-numbers-div">Выберите</div>
            <div id="units-dropdown-block" class="dropdown-sign">▼</div>
        </div>
        <div id="units-modal" class="filter-modal-block">
            @foreach (var unit in Model.AvailableMeasurementUnits)
            {
                <div class="filter-modal-item" isSelected="false" unitId="@unit.Id" onclick="selectUnit(this)">@unit.Name</div>
            }
        </div>
        <select id="units-select" multiple style="display: none;">
            @foreach (var unit in Model.AvailableMeasurementUnits)
            {
                <option value="@unit.Id">@unit.Name</option>
            }
        </select>
    </div>
</div>

<div style="margin-bottom: 15px;">
    <button id="apply-filters-btn" class="button blue-button" style="margin-right: 2px;">Применить</button>
    <a class="button green-button" asp-controller="Receipt" asp-action="AddReceipt" style="padding: 9px 10px 10px 10px;">Добавить</a>
</div>

<div id="table-block">
    <table id="receipt-documents-table">
        <tr>
            <th>Номер</th>
            <th>Дата</th>
            <th>Ресурс</th>
            <th>Единица измерения</th>
            <th>Количество</th>
        </tr>
        @foreach (var receiptDocument in Model.ReceiptDocuments)
        {
            @if (receiptDocument.ReceiptResources.Count == 0)
            {
                <tr class="tr-link" receiptDocumentId=@Html.Raw(JsonSerializer.Serialize(receiptDocument.Id))>
                    <td>@receiptDocument.ReceiptNumber</td>
                    <td>@receiptDocument.ReceiptDate.ToString("dd.MM.yyyy")</td>
                    <td></td>
                    <td></td>
                    <td>0</td>
                </tr>
            }
            else
            {
                @for (int i = 0; i < receiptDocument.ReceiptResources.Count; i++)
                {
                    @if (i == 0)
                    {
                        <tr class="tr-link" receiptDocumentId=@Html.Raw(JsonSerializer.Serialize(receiptDocument.Id))>
                            <td rowspan="@receiptDocument.ReceiptResources.Count">@receiptDocument.ReceiptNumber</td>
                            <td rowspan="@receiptDocument.ReceiptResources.Count">@receiptDocument.ReceiptDate.ToString("dd.MM.yyyy")</td>
                            <td>@receiptDocument.ReceiptResources[i].Resource.Name</td>
                            <td>@receiptDocument.ReceiptResources[i].MeasurementUnit.Name</td>
                            <td>@receiptDocument.ReceiptResources[i].Quantity</td>
                        </tr>
                    }
                    else
                    {
                        <tr class="tr-link" receiptDocumentId=@Html.Raw(JsonSerializer.Serialize(receiptDocument.Id))>
                            <td>@receiptDocument.ReceiptResources[i].Resource.Name</td>
                            <td>@receiptDocument.ReceiptResources[i].MeasurementUnit.Name</td>
                            <td>@receiptDocument.ReceiptResources[i].Quantity</td>
                        </tr>
                    }
                }
            }
        }
    </table>
</div>

<div id="info-waiting-data-block" style="display: none;">
    Загрузка данных...
</div>

<script src="~/js/receipt/get-receipt-documents.js"></script>
<script src="~/js/receipt/receipt-numbers-modal.js"></script>
<script src="~/js/receipt/resources-modal.js"></script>
<script src="~/js/receipt/units-modal.js"></script>
<script src="~/js/receipt/receipt-search.js"></script>